SELECT *  
FROM crime_scene_report  
where type = 'murder' and city = 'SQL City' and date = '20180115'

Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".

select *   
from person  
where address_street_name = 'Northwestern Dr'  
order by address_number desc

14887	Morty Schapiro	118009	4919	Northwestern Dr	111564949

select transcript   
from interview  
where person_id = '14887'

I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".

select name, person_id, membership_status 
from get_fit_now_member  
where person_id like '48%'

Cruz Ewings	48557	silver
Jarred Newenle	48466	regular

select *   
from person  
where address_street_name = 'Franklin Ave'
order by name asc

16371	Annabel Miller	490173	103	Franklin Ave	318771143

I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.

SELECT 
    a.membership_id, 
    a.check_in_date, 
    a.check_in_time, 
    a.check_out_time, 
    b.id AS member_id, 
    b.person_id, 
    b.name AS member_name, 
    c.id AS person_id, 
    c.name AS person_name, 
    d.plate_number, 
    d.id AS license_id
FROM 
    get_fit_now_check_in AS a
INNER JOIN 
    get_fit_now_member AS b ON a.membership_id = b.id
INNER JOIN 
    person AS c ON b.person_id = c.id
INNER JOIN 
    drivers_license AS d ON c.license_id = d.id
WHERE 
    a.check_in_date = '20180109';

48Z55	20180109	1530	1700	48Z55	67318	Jeremy Bowers	67318	Jeremy Bowers	0H42W2	423327
90081	20180109	1600	1700	90081	16371	Annabel Miller	16371	Annabel Miller	23AM98	490173

Jeremy Bowers

Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge, try querying the interview transcript of the murderer to find the real villain behind this crime. If you feel especially confident in your SQL skills, try to complete this final step with no more than 2 queries. Use this same INSERT statement with your new suspect to check your answer.

SELECT transcript
from interview
where person_id = '67318'

I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.

where hair_color = 'red' and car_make = 'Tesla' and car_model = 'Model S'

SELECT b.name
from drivers_license a
inner join person as b on a.id = b.license_id
inner join facebook_event_checkin as c on b.id = c.person_id
where a.hair_color = 'red' and a.car_make = 'Tesla' and a.car_model = 'Model S' and c.event_name = 'SQL Symphony Concert'

Miranda Priestly

Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne!