### Respuesta SQL Murder

-para esta ocasion teniamos que encontrar al autor de un asesinato en SQL City
para ello buscamos el informe del asesinato, el cual habiamo extraviado
al conseguir el informe vimo que existian dos testigos. los cuales hicieron una declaraci칩n
Al seguir las pistas de los testigos, dimos con un hombre, Jeremy Bowers. presunto asesion
al arrestarlo y tomarle declaraci칩n. descubrimos que fue contratado por una tercera persona
Gracias a su declaracion y descripci칩n de algunos datos de la ersona que lo contrato, pudimos seguir la pista hasta Miranda Priestly
La autentica mente detr치s del asesinato.

/*SELECT * 
FROM crime_scene_report
WHERE date = '20180115'
AND city = 'SQL City'
AND type = 'murder'*/
--The first witness lives at the last house on "Northwestern Dr"
--The second witness, named Annabel, lives somewhere on "Franklin Ave".
              
/*SELECT id,name,address_street_name, MAX(address_number)number
FROM person
WHERE address_street_name = 'Northwestern Dr'

UNION

SELECT id,name,address_street_name, address_number
FROM person
WHERE address_street_name = 'Franklin Ave'
AND name LIKE '%Annabel%'*/

--14887, 16371
/*SELECT *
FROM interview
WHERE person_id IN (14887, 16371)*/
-- el sospechoso es un hombre socio de un gym con membresia oro "48z" y un coche con matricula H42W
--y estuvo en el gym el 9 de enero donde lo vieron. se confirma con la segundo testigo que es el asesino

/*SELECT *
FROM get_fit_now_member A
INNER JOIN get_fit_now_check_in B ON A.id = B.membership_id
INNER JOIN person P ON P.id = A.person_id
INNER JOIN drivers_license L ON L.ID = P.license_id
WHERE B.check_in_date = '20180109'
AND A.membership_status = 'gold'
AND A.id LIKE '48Z%'
AND L.plate_number LIKE '%H42W%' */

/*SELECT *
FROM interview
WHERE person_id = 67318*/

-- es un asesinato encargado por un amujer con mucho dinero y pelirroja
--conduce un tesla model s, con una estatura de 5.5- 5.7 aproximadamente
-- estuvo en el concierto de SQL Symphony Concert  veces en el 2017
 SELECT A.id, A.name, C.annual_income, D.event_name, D.date, b.*
 FROM person A
 INNER JOIN drivers_license B ON B.id = A.license_id
 INNER JOIN income C ON C.ssn = A.ssn
 INNER JOIN facebook_event_checkin D ON D.person_id = A.id
 WHERE B.gender ='female'
 AND B.car_make = 'Tesla'
 AND B.CAR_MODEL = 'Model S'
 AND B.hair_color = 'red'